$white: #ffffff;
$black: #000000;
$gray-blue: #F0F4FB;
$gray-blue-border: #E0E8F0;
$blue: #3F6ADA;
$blue2: #4672E3;
$red: #FF2C2C;
$red2: #FF6C59;
$yellow: #FFDD00;
$green: #b2e641;
$close-color: #9db9d1;
$gray: #b1b8c4;
