@import "partials/params";
@import "partials/mixins";

.upload{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  background-color: $white;
  border: 1px dashed $gray-blue-border;
  & .btn{
    width: 128px;
  }
  &__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 60px;
    & svg{
      width: 36px;
      height: 32px;
      fill: $close-color;
    }
  }
  &__text{
    font-size: 13px;
    line-height: 16px;
    margin-left: 16px;
    & span{
      font-family: 'Ruda', sans-serif;
      font-weight: 800;
      font-size: 14px;
      line-height: 22px;
    }
  }
}